<div class="header">
	<h1><%=@titre_list%></h1>Total : <%=@articles.count%>
</div>
<div class="row_header">
	<div class="tab_col w10">&nbsp;</div>
	<div class="tab_col w60 order_name"><%= sortable "company", "Company"%></div>
	<div class="tab_col w10 order_name"><%= sortable "period", "Period"%></div>
	<div class="tab_col w10 order_name"><%= sortable "status", "Status"%></div>
	<div class="tab_col w10">&nbsp;</div>
</div>
<% @articles.each do |article| %>
<div class="row">
	<div class="tab_col w10">
		<%=link_to (image_tag "icons/pen6.png"), "/#{@link}/#{article.id}/edit", :method => "GET", :remote => true%>
	</div>
	<div class="tab_col w60"><%=article.company%></div>
	<div class="tab_col w10"><%=article.period%></div>
	<div class="tab_col w10"><%=article.status%></div>

	<div class="tab_col w10">
		<%=link_to (image_tag "icons/delete.png"), "/#{@link}/#{article.id}", :method => "DELETE", data: { confirm: 'Etes-vous sure de vouloir supprimer cette article ?' }, :remote => true%>
	</div>
</div>
<div class="clear"></div>
<% end %>
<div class="row">
	<div class="tab_col w5">
		<%=link_to (image_tag "icons/add.png"), "/#{@link}"%>
	</div>

	<div class="per_page">
		Results per page :
		<%=link_to "10", "articles_per_page?pp=10", :remote => true %>
		<%=link_to "20", "articles_per_page?pp=20", :remote => true %>
		<%=link_to "50", "articles_per_page?pp=50", :remote => true %>
		<%=link_to "100", "articles_per_page?pp=100", :remote => true %>
		<%=link_to "500", "articles_per_page?pp=500", :remote => true %>
	</div>
</div>
<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>