$('.add_article').hide();
$('#list_articles').html('<%= escape_javascript(render partial: "back/#{@link}/list") %>');
$('#new_article').html('<%= escape_javascript(render partial: "back/#{@link}/edit") %>');
order_name();
search();
init_form_uploadfile('#new_article form');
pagination();