<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "back/#{@link}/index"  %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "back/#{@link}/index" %>
<% end %>




<div class="col_1">
	<div class="col1">
		<div class="search_box form">
			<%= form_tag "", :method => 'get', :id => "search" do %>
				<%= text_field_tag :search, params[:search], :autofocus => true, :placeholder => "Search" %>
			<% end %>
		</div>
		<div class="box" id="list_articles">
			<%= render :partial => "list"%>
			
		</div>
	</div>
</div>

<div class="clear"><br/></div>
<div class="col_2_right">
	<div id="form_article">
		<div id="new_article"><%= render :partial => "edit"%></div>
	</div>
	<div class="clear"></div>	
</div>