<%= form_for @custom, url: "custom", :multipart => true, :class => "form", :method => "post" do |f| %>
	<label>Name</label><%=f.text_field "name", value: @custom.name%>
	<label>Grade</label><%=f.text_field "poste", value: @custom.poste%>
	<label>Email</label><%=f.text_field "email", value: @custom.email%>
	<label>Twitter</label><%=f.text_field "twitter", value: @custom.twitter%>
	<label>Linkedin</label><%=f.text_field "linkedin", value: @custom.linkedin%>
	<label>facebook</label><%=f.text_field "facebook", value: @custom.facebook%>
	<label>flickr</label><%=f.text_field "flickr", value: @custom.flickr%>
	<label>viadeo</label><%=f.text_field "viadeo", value: @custom.viadeo%>
	<label>Home message :</label><%=f.text_area "welcome", value: @custom.welcome%>

	<% if !@custom.photo.blank? then %>
		<%=image_tag "/custom/#{@custom.photo}", height: 300%><br/>
	<% end%>
	<label>Photo :</label><%=f.file_field "photo"%>
	<div class="fakefile"></div>

	<%=f.submit "Update" %>
<% end %>