$('html, body').animate({scrollTop : 0},800);
setTimeout(function(){
	$('.info').show();
	setTimeout(function(){$('.info').hide();},1000);
},1000);
$('.form').html('<%= escape_javascript(render partial: "back/home/form") %>');
init_form_uploadfile("#home form");