<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "back/home/index"  %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "back/home/index" %>
<% end %>

<div id="home">
	<div class="col1">
		<div class="box gd">
			<div class="header">
				<h1>Configuration</h1>
				<div class="info">Done</div>
			</div>
			<div class="form">
				<%= render :partial => "form"%>
			</div>
		</div>
	</div>
</div>