
<div id="video_container"><video id="video" width="640" height="480" controls>
  <source src="maison/<%=params[:video_selected].split("/").last unless params[:video_selected].blank?%>" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<%=hidden_field "cur", "video", :value => params[:cur_video]%>
<br/>

	<% i = 0 %>
	<% @videos.each do |video| %>
		<span class="video_<%=i%>"><%=link_to "#{video.to_s.split("/").last}", "/maison?video_selected=#{video.to_s}&cur_video=#{i}" %></span><br/>	
		<% i += 1 %>
	<% end %>

<div style="display:none">Current Time : <span  id="currentTime">0</span></div>
<div style="display:none">Total time : <span id="totalTime">0</span></div>
<script type="text/javascript">
$(function(){
	$('#currentTime').html($('#video_container').find('video').get(0).load());
	$('#currentTime').html($('#video_container').find('video').get(0).play());
})
timerId = setInterval(function(){
	$('#currentTime').html($('#video_container').find('video').get(0).currentTime);
	$('#totalTime').html($('#video_container').find('video').get(0).duration);    
	if($('#currentTime').html() == $('#totalTime').html()){
		var cur_video = $('#cur_video').val();
		var nb = parseInt(cur_video) + 1;
		var next_video = ($('.video_'+nb+' a').attr('href'));
		console.log(cur_video);
		console.log(next_video);
		
		clearInterval(timerId);
		if(next_video!= undefined){
			window.location.replace(next_video);	
		}
		return false;
	}
},500)
</script>