.logos, .posters{
	margin-left:-150px;
	.logo, .img{
		margin-right:20px;
		margin-bottom:20px;
		img{
			float:left;
			padding:0 0 20px 20px;
			width:200px;
		}
	}
}
.projects{
	width:100%;
	.project{
		background-color: white;
		width:300px;
		margin-right:20px;
		margin-bottom:20px;
		float:left; 
		.img{
		}
		.name{		
			font-size: 35px;
			color: #333;
			margin-bottom: 20px;
			margin-top: 10px;
			text-align:center;
		}
		.desc{
			padding-left:10px;
			margin-bottom:20px;
			background-color: white;
			float:left;
			font-size: 14px;
			color: #666;
			a{
				color:#ccc;
			}
			ul{
				margin-left:10px;
			}
		}
		.decale{
			padding-left:33px;
		}
	}
}