<!DOCTYPE html>
<html>
<head>
  <title><%=@sitename%> Administration</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "back/authentication/index", "back/theme", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login">
	<div class="header_login">CONNECTION</div>
	<%if !params[:login].blank? %><div class="error"><%=image_tag "icons/warning.png"%>Email et/ou mot de passe incorrect</div><%end%>
	<%= form_tag "/", :class => "form" do%>
		<%=text_field "connect", "email", :placeholder => "Email", :value => params[:login]%>
		<%=password_field "connect", "password", :placeholder => "Mot de passe"%>
		<%=submit_tag "Entrer" %>
		<br/><br/><%#link_to "J'ai oublié mon mot de passe", "#", :class => "forgot_password"%>
	<% end %>
</div>

</body>
</html>
