<div class="col1">
	<div class="box gd">
		<div class="header">
			<% if @article.new_record? %>
				<h1>Create a <%=@titre_create%></h1>
				<% url = "/#{@link}" %>
				<% method = "post" %>
			<%else%>
				<h1>Modify a <%=@titre_create%></h1>
				<% url = "/#{@link}/#{@article.id}" %>
				<% method = "put" %>
			<%end%>
		</div>
		<div class="form">
			<%= form_for @article, url: url, :multipart => true, :class => "form", :method => method do |f| %>

				<label>Name :</label><%=f.text_field "name", value: @article.name%>

				<!--<label>Description :</label><%=f.text_area "desc", value: @article.desc%>-->
				
				<label>Status :</label><%= f.select "state", options_for_select([["En cours"], ["Active"], ["Inactive"]], @article.state), :include_blank => true%> <br/>
				
				<% if !@article.photo.blank? then %>
					<%=image_tag "/#{@link}/#{@article.photo}", width: 100%><br/>
				<% end%>
				<label>Photo :</label><%=f.file_field "photo"%>
				<div class="fakefile"></div>

				<% if @article.id.blank? %>
					<%=f.submit "Add" %>
				<%else%>
					<%=f.submit "Update" %>
				<%end%>
			<% end %>
		</div>
	</div>
</div>