<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "front/home/index" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "front/home/index" %>
<% end %>

<section class="sect s1">
<div class="bg_blue">
	<div class="title">Welcome</div>	
	<div class="welcome">
		<%=@custom.welcome.gsub("
", "<br/>").html_safe%>
		<div class="clear"><br/></div>
	</div>
</div>
<div class="arrow_blue"></div>
</section>

<section class="sect s2">
<div class="bg_white">
	<div class="title">Articles</div>	
	<div class="articles">
		<% @articles.each do |article| %>
			<article>
				<div class="article">
					<div class="img"><%=link_to (image_tag "/articles/#{article.picture}", :alt => "#{article.title}", :border => 0, :width => 200), "/article/#{article.id}", :title => "#{article.title}" %></div>
					<div class="desc">
						<div class="name"><%=link_to article.title, "/article/#{article.id}", :title => "#{article.title}"%></div>
						<div class="keywords">
							<% i = 0 %>
							<% article.keywords.each do |keyword|%>
								<% unless i == 0 %>|<% end %>
								<span class="<%=keyword.color%>"><%=keyword.word%></span> 
								<% i += 1 %>
							<% end %>
						</div>
						<div class="date"><%=article.author%>, le <%=article.created_at.strftime("%d/%m/%Y")%></div>
						<div class="clear"></div>
						<div class="texte">
							<%=article.summary.to_s.html_safe%>
						</div>
						<div class="link share_twitter"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
						<div class="share_gplus"><div class="g-plusone" data-size="small"></div></div>
					</div>
				</div>
			</article>
			<div class="clear hr"></div>
		<% end %>
	</div>
</div>
<div class="arrow_white"></div>
</section>
