<div class="col1">
	<div class="box gd">
		<div class="header">
			<% if @article.new_record? %>
				<h1>Add an <%=@titre_create%></h1>
				<% url = "/#{@link}" %>
				<% method = "post" %>
			<%else%>
				<h1>Modify an <%=@titre_create%></h1>
				<% url = "/#{@link}/#{@article.id}" %>
				<% method = "put" %>
			<%end%>
		</div>
		<div class="form">
			<%= form_for @article, url: url, :multipart => true, :class => "form", :method => method do |f| %>
				<label>Level :</label><%=f.text_field "grade", value: @article.grade%>

				<label>Name :</label><%=f.text_field "name", value: @article.name%>

				<label>Period :</label><%=f.text_field "period", value: @article.period%>

				<label>Location :</label><%=f.text_field "location", value: @article.location%>
				
				<label>Status :</label><%= f.select "status", options_for_select([["En cours"], ["Active"], ["Inactive"]], @article.status), :include_blank => true%> <br/>
				
				<% if !@article.photo.blank? then %>
					<%=image_tag "/#{@link}/#{@article.photo}", width: 100%><br/>
				<% end%>
				<label>Picture :</label><%=f.file_field "photo"%>
				<div class="fakefile"></div>

				<% if @article.id.blank? %>
					<%=f.submit "Valider" %>
				<%else%>
					<%=f.submit "Modifier" %>
				<%end%>
			<% end %>
		</div>
	</div>
</div>