<div class="col1">
	<div class="box gd">
		<div class="header">
			<% if @article.new_record? %>
				<h1>Create an article</h1>
				<% url = "/articles" %>
				<% method = "post" %>
			<%else%>
				<h1>Modify an article</h1>
				<% url = "/articles/#{@article.id}" %>
				<% method = "put" %>
			<%end%>
		</div>
		<div class="form">
			<%= form_for @article, url: url, :multipart => true, :class => "form", :method => method do |f| %>
				<label>Title :</label><%=f.text_field "title", value: @article.title%>
				<label>Summary :</label><%=f.text_area "summary", value: @article.summary%>
				<label>Text :</label><%=f.text_area "text", value: @article.text%>
				<label>Author :</label><%=f.text_field "author", value: @article.author%>
				
				<label>Status :</label><%= f.select "state", options_for_select([["En cours"], ["Active"], ["Inactive"]], @article.state), :include_blank => true%> <br/>
				
				<% if !@article.picture.blank? then %>
					<%=image_tag "/articles/#{@article.picture}", width: 100%><br/>
				<% end%>
				<label>Picture :</label><%=f.file_field "picture"%>
				<div class="fakefile"></div>

				<% if @article.id.blank? %>
					<%=f.submit "Add" %>
				<%else%>
					<%=f.submit "Update" %>
				<%end%>
			<% end %>
		</div>
	</div>
</div>
<div  id="keywords">
	<% if !@article.id.blank? %>
		<div class="list"><%= render :partial => "back/keywords/list"%></div>
		<div class="new"><%= render :partial => "back/keywords/new"%></div>
	<% end %>
</div>