<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "front/cv/index" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "front/cv/index" %>
<% end %>

<section class="sect s1">
<div class="bg_blue">
	<div class="title">Timeline</div>	

	<div class="time">
		<div class="rect_deg_top"></div>
		<% i = 0 %>
		<% @timeline.each do |experience| %>
			<% if i > 0 %>
				<div class="rect"></div>
			<% end %>
			<div class="roundborder">
				<div class="<%= if experience.period.length > 4 then 'round3 small' else 'round1' end%>"><%=experience.period%></div>
			</div>
			<% i += 1 %>
		<% end %>
		<% if i > 0 %><div class="rect"></div><% end %>
		<div class="rect_deg_bottom"></div>
	</div>
	<div class="textes">
		<% @timeline.each do |experience| %>
			<div class="experience">
				<div class="company"><%=experience.company%></div>
				<div class="explaination"><%=experience.desc.gsub("
", "<br/>").html_safe%></div>
			</div>
		<% end %>
	</div>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_blue"></div>
</section>
<section class="sect s2">
<div class="bg_white">
	<div class="title">Technologie</div>	
	<div class="techno">
		<% @technos.each do |techno| %>
			<div class="tech">
				<div class="name"><%=techno.name%> :</div>
				<div class="levels">
					<% for i in 1..techno.level.to_i %>
						<div class="level" style="background-color:<%=techno.color%>"></div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_white"></div>
</section>
<section class="sect s3">
<div class="bg_grey">
	<div class="title">University</div>	
	<% @university.each do |university| %>
		<div class="university">
			<%=image_tag "/university/#{university.photo}", :alt => "#{university.name}", :border => 0%>
			<div class="desc">
				<b><%=university.grade%></b><br/>
				<%=university.name%><br/>
				<%=university.period%> - <%=university.location%><br/>
			</div>
		</div>
	<% end %>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_grey"></div>
</section>
<section class="sect s4">
<div class="bg_pink interests">
	<div class="title">Areas of interest</div>	
	<% i = 1 %>
	<% @hobbies.each do |hobby| %>
		<div class="interest<%=i%>">
			<% i += 1 %>
			<div class="img"><%=image_tag "/hobby/#{hobby.photo}", :alt => "#{hobby.name}", :border => 0%></div> 
			<div class="texte">
				<div class="name"><%=hobby.name%></div>
				<%=hobby.desc.html_safe%>
			</div>
		</div>
	<% end %>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_pink"></div>
</section>