<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "front/photos/index" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "front/photos/index" %>
<% end %>

<section class="sect s1">
<div class="bg_blue">
	<div class="title">Photos</div>

	<% if !params[:folder].blank? 
		folder = "public/Pictures/#{params[:folder]}/thumbnails"
	 else 
		folder = "public/Pictures/"
	 end %>

	 <% folders = Array.new %>
	 <% files = Array.new %>

	<% Dir["#{folder}*"].sort.each do |file| %>
		<% f = file.split('/').last %>		
			<% if File.directory?(file)%>
				<% folders.push "#{folder.split('public/Pictures/').last}/#{f}" %>
			<% else %>
				<% files.push "#{folder.split('public').last}/#{f}" %>
			<% end %>
	<% end %>

	<% if !params[:folder].blank? %>	
		<div class="picture">
			<%=link_to (image_tag "folder.png", width:200), "?folder=#{params[:folder].split("/"+params[:folder].split('/').last).first}"%><br/><br/>..
		</div>
	<% end %>

	<% folders.each do |f| %>
		<div class="picture">
			<%=link_to (image_tag "folder.png", width:200), "?folder=#{f}"%><br/><br/><%=f.split("/").last%>
		</div>
	<% end %>

	<% files.each do |f| %>
		<div class="picture">
			<% test = ("#{Rails.root}/public/#{f.gsub("Pictures", "Pictures/thumbnails")}").gsub("//","/")%>
			<% ext = f.split(".").last rescue "" %>
			<% 
			exts_imgs = Array.new 
			exts_videos = Array.new 
			exts_imgs = ["jpg", "JPG", "JPEG", "jpeg", "png", "PNG", "gif", "GIF"]
			exts_videos = ["avi", "AVI", "mov", "MOV"]
			%>
			<% if exts_imgs.include?(ext) %>
				<% if File.exist?(test) %>
					<%=link_to (image_tag "#{f.gsub("Pictures", "Pictures/thumbnails")}", width:200), f, :target => "_blank" %>
				<% else %>
					<%=link_to (image_tag "#{f}", width:200), f, :target => "_blank" %>				
				<% end %>
			<% end %>
			<% if exts_videos.include?(ext) %>
				<%=link_to (image_tag "video.png", width:200), f, :target => "_blank" %>
			<% end %>
		</div>
	<% end %>

	<div class="clear"><br/></div>
</div>

</section>
<div class="arrow_blue"></div>
