<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "front/article/index" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "front/article/index" %>
<% end %>

<section>
<div class="bg_white">
	<div class="title">Article</div>	
		<article>
			<div class="article">
				<div class="img">
					<%=image_tag "/articles/#{@article.picture}", :alt => "#{@article.title}", :border => 0, :width => 200%>
					<br/>
					<div class="link share_twitter"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
					<div class="share_gplus"><div class="g-plusone" data-size="small"></div></div>
				</div>

				<div class="desc">
					<div class="name"><%=@article.title%></div>
					<div class="keywords">
						<% i = 0 %>
							<% @article.keywords.each do |keyword|%>
								<% unless i == 0 %>|<% end %>
								<span class="<%=keyword.color%>"><%=keyword.word%></span> 
								<% i += 1 %>
							<% end %>
						</div>
					<div class="date"><%=@article.author%>, le <%=@article.created_at.strftime("%d/%m/%Y")%></div>
					<div class="clear"></div>
					<div class="texte">
						<%=@article.summary.to_s.html_safe%>
					</div>
				</div>	
				<div class="clear"><br/></div>
				<div class="explainations">
					<%=@article.text.to_s.html_safe%>
				</div>				
			</div>
		</article>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_white"></div>
</section>