.time{
	float:left;
	width:100px;
	.roundborder{
		margin-left:-80px;
		width: 100px;
		height:100px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;	
		background-color: #007fc0;
		border:3px solid #47a9dc;
		padding: 7px;
	}
	.round1{
		width: 80px;
		height:80px;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;	
		background-color: #00527c;
		font-family: 'Archistico-Normal';
		font-size:30px;
		color:#cccccc;
		padding:18px 4px;
	}
	.round2{
		@extend .round1;
		background-color: #4c9bc4;
		color:#eeeeee;
	}
	.round3{
		@extend .round1;
		background-color: #93d3f3;
		color:#00527c;
	}
	.rect{	
		background-color: #47a9dc;
		width:10px;
		height:160px;
		margin-left:-35px;
	}
	.rect_deg_bottom{
		margin-left:-35px;
		width:10px;
		height:50px;
		background: #47a9dc; /* Old browsers */
		background: -moz-linear-gradient(top, #47a9dc 0%, #007fc0 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47a9dc), color-stop(100%,#007fc0)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #47a9dc 0%,#007fc0 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #47a9dc 0%,#007fc0 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #47a9dc 0%,#007fc0 100%); /* IE10+ */
		background: linear-gradient(to bottom, #47a9dc 0%,#007fc0 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a9dc', endColorstr='#007fc0',GradientType=0 ); /* IE6-9 */
	}
	.rect_deg_top{
		margin-left:-35px;
		width:10px;
		height:50px;
		background: #007fc0; /* Old browsers */
		background: -moz-linear-gradient(top,  #007fc0 0%, #47a9dc 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fc0), color-stop(99%,#47a9dc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #007fc0 0%,#47a9dc 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #007fc0 0%,#47a9dc 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #007fc0 0%,#47a9dc 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #007fc0 0%,#47a9dc 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fc0', endColorstr='#47a9dc',GradientType=0 ); /* IE6-9 */
	}
}
.round1.small{
	padding:13px 10px;
	font-size:24px;
	line-height: 27px;
}
.textes{
	float:left;
	margin-top: 42px;
	width:500px;
	.company{ 
		font-size: 35px;
		color: white;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.explaination{
		font-size: 14px;
		color: white;
		a{
			color: white;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
.techno{
	
	.tech{
		clear:both;
		.name{
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 18px;
			float:left;
			margin-right:10px;
			width:200px;
		}
		.levels{
			.level{
				float:left;
				margin-top: 3px;
				margin-right:10px;
				width:20px;
				height:20px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}
			.level.blue{
				background-color: #007fc0;
			}
			.level.black{
				background-color: #3e3e3e;
			}
			.level.white{
				background-color: #ffffff;
			}
			.level.grey{
				background-color: #e0e0e0;
			}
			.level.pink{
				background-color: #d8bed0;
			}
			.level.yellow{
				background-color: yellow;
			}
			.level.green{
				background-color: green;
			}
		}
	}
}
.university{
	width:50%;
	float:left;
	.desc{	
		padding-top: 30px;
		padding-left:30px;
		width:250px;	
		font-size: 20px;
		text-align: center;
	}
}
.interests{
	min-height:600px;
}
.interest1, .interest2, .interest3, .interest4{
	margin-left:-100px;
	font-size: 14px;
	width:400px;
	height:200px;
	position: absolute;
	.img{
		float:left;
		width:200px;
	}
	.texte{
		padding-top:20px;
		.name{
			padding-bottom:20px;
			font-size: 20px;
			color:white;		
		}
	}
}
.interest2{
	margin-left:100px;
	margin-top:150px;
}
.interest3{
	margin-left:450px;
	width:380px;
}
.interest4{
	margin-left:650px;	
	margin-top:160px;
	width:180px;
	.texte{
		padding:150px;
		margin-left:-250px;
	}
}