<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "front/portfolio/index" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "front/portfolio/index" %>
<% end %>

<section class="sect s1">
<div class="bg_blue">
	<div class="title">Projects</div>	
	<div class="projects">

		<% @projects.each do |project|%>
			<div class="project">
				<div class="name"><%=project.name%></div>
				<div class="img">
					<% if project.photo.blank? %>
						<%=image_tag "article_without_photo.png", :border => 0, :width => 300%>
					<% else %>
						<%=image_tag "/project/#{project.photo}", :border => 0, :width => 300%>
					<% end %>
				</div>
				<div class="desc"><br/>
					<div class="listing">
						<%=project.desc.html_safe%>
					</div>
				</div>
			</div>
		<% end %>

		<div class="clear"><br/></div>
	</div>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_blue"></div>
</section>

<section class="sect s2">
<div class="bg_grey">
	<div class="title">Logos</div>	
	<div class="logos">
		<% @logos.each do |logo|%>
			<div class="logo"><%=image_tag "/logo/#{logo.photo}", :border => 0%></div>
		<% end %>
	</div>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_grey"></div>
</section>

<section class="sect s3">
<div class="bg_white">
	<div class="title">Posters</div>	
	<div class="posters">
		<% @posters.each do |poster|%>
			<div class="img"><%=link_to (image_tag "/poster/#{poster.photo}", :border => 0), "/poster/#{poster.photo}", :target => "_blank" %></div>
		<% end %>
	</div>
	<div class="clear"><br/><br/></div>
</div>
<div class="arrow_white"></div>
</section>