/*
*= require syntax-highlighter-rails/shCore
*= require syntax-highlighter-rails/shThemeDefault
*/
.article{
	width:100%;
	color:#333333;
	.img{
		float:left; 
	}
	.name{		
		font-size: 35px;
		margin-top:-10px;
	}
	.desc{
		width:65%;
		margin-left:50px;
		margin-right:50px;
		float:left;
		font-size: 14px;
		a{
			color:#333333;
		}
		ul{
			margin-left:10px;
		}
		.keywords{
			font-weight: bold;
			margin-bottom: 20px;
			float:left;
			.orange{
				color:#f5b907;
			}
			.blue{
				color:#007fc0;
			}
			.green{
				color:#34b546;
			}
			.red{
				color:#d80f0f;
			}
			.yellow{
				color:#dccf03;
			}
			.orange{
				color:#dc8803;
			}
			.pink{
				color:#db00ce;
			}
			.black{
				color:#000;
			}
			.gray{
				color:#bababa;
			}
		}
		.date{
			float:right;
			font-style: italic;
		}
		.link {
			margin-top:10px;
			a{
				color:#007fc0;
			}
		}
	}
}