.welcome{
	color:white;
	font-size: 20px;
}

.article{
	width:100%;
	color:#333333;
	.img{
		float:left; 
	}
	.name{		
		font-size: 35px;
		margin-top:-10px;
	}
	.desc{
		width:64%;
		margin-left:50px;
		margin-right:50px;
		float:left;
		font-size: 14px;
		a{
			color:#333333;
		}
		ul{
			margin-left:10px;
		}
		.keywords{
			font-weight: bold;
			margin-bottom: 20px;
			float:left;
			.orange{
				color:#f5b907;
			}
			.blue{
				color:#007fc0;
			}
			.green{
				color:#34b546;
			}
			.red{
				color:#d80f0f;
			}
		}
		.date{
			float:right;
			font-style: italic;
		}
		.link {
			margin-top:10px;
			a{
				color:#007fc0;
			}
		}
	}
}