/*
	*= require "back/theme"
	*= require "apple_pagination"
*/
@import "../colors";

*{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: helvetica;
}
*:focus {
    outline: 0;
}
body{
	margin:0;
	padding: 0;
	background-color: #f1f2f7;
}
.clear{
	clear:both;
}
#header{
	background-color: $main_color;
	padding:15px;
	font-size: 18px;
	vertical-align:top;
	font-size: 11px;
	z-index:1;
	position:fixed;
	border-bottom:1px solid #cccccc;
	width: 100%;
	height:50px;
	background-color:$main_color;
	padding-top: 5px;

	a{
		margin-right:20px;
	}
	#logo{
		float:left;
		.letter{
			background-color: #fff;
			height:80px;
			width:80px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			border-radius: 40px;	
			float:left;
			font-size: 50px;
			padding: 0px 23px;
			font-family: 'rockwellregular';
			margin-right:15px;
			.souligne{
				margin-top:-5px;
				border-bottom: 5px solid #000;
				width:35px;
				height:5px;
			}
		}
		.letter2{
			padding: 5px 18px;
			font-size: 40px !important;
			.souligne{
				width:45px;
			}
		}
		.letter3{
			padding: 15px 13px;
			font-size: 30px !important;
			.souligne{
				width:55px;
			}
		}		
		.letter4{
			padding: 15px 8px;
			font-size: 30px !important;
			.souligne{
				width:63px;
				margin-top: -3px;
			}
		}
		.town{
			padding-top:5px;
			color:#fff;
			font-size: 40px;
			font-family: 'rockwellregular';
		}
		.slogan{
			margin-top:-5px;
			color:#fff;
			letter-spacing: 7px;
		}
	}
	.logout{
		float:right;
		text-align: right;
		color: #000;
		a{
			color: #fff;
			margin-right:0px;
			font-size: 14px;
			text-decoration: none;
		}
	}
	.notifications{
		position:absolute;
		top:20px;
		left:223px;
		.notification{
			//border:1px solid #838383;
			padding:1px 2px;
			margin-top:0px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			float:left;
			margin-left:5px;
		}
		.pastille{
			width:16px;
			height:16px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			color:white;
			
			position:relative;
			z-index:2;
			text-align: center;
			padding-top:2px;
			left:-3px;				
			top:-12px;
			float:left;
		}
		.pastille.red{
			background-color: #ff6c60;
		}
		.pastille.blue{
			background-color: #57c8f2;
		}
		.pastille.green{
			background-color: #6ccac9;
		}
		.pastille.yellow{
			background-color: #f8d347;
		}
	}
}
#nav{
	background-color: #333;
	height:100%;
	width:200px;
	color:#FFFFFF;
	position:fixed;
	margin-top:49px;
	z-index:2;
		font-size: 14px;
	ul{
		margin-left:-30px;
	}
	li{
		list-style-type:none;
		padding:10px;
		height:40px;
		width: 180px;
		color:#aeb2b7;
		font-size:12px;
		text-decoration: none;
		img{
			vertical-align:-3px;
			margin-right: 20px;
		}
	}
	li:hover, li.selected, a:visited, a{
		background-color: #666;
		color:white;
		text-decoration: none;
	}
	.hide_menu a{
		margin-left:8px;
		background:none !important;
	}
}
.minimize{
	width:50px !important;
	li{
		width:40px !important;
	}
	.text{
		display:none;
	}

}
.main{
	position:relative;
	padding:70px 20px 0 220px;
	width:100%;
	height:100%;
}
.maximize{
	padding-left:70px
}
.order_name a{
	color: #999999;
}
.order_name .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  color: #2a3542;
}
.order_name a.asc {
  background-image: url(
icons/up_arrow.png);
}

.order_name a.desc {
  background-image: url(
icons/down_arrow.png);
}
.credits{
	font-size:10px;
	width:200px;
	text-align: center;
	bottom:80px;
	position:absolute;
	a{
		color:#777777 !important;
		text-decoration:underline !important;
	}
}
.thanks{
	font-size:10px;
	width:100%;
	text-align: center;
	bottom:80px;
}
.dropdown-toggle{
	display: none;
}

.per_page{
	float: right;
	font-size: 12px;
	position: relative;
	right: 20px;
}