.header{
	background-color: #FFFFFF;
	height:50px;
	width:100%;
	padding:15px;
	font-size: 18px;
	vertical-align:top;
	font-size: 11px;
	color: #ee0000;
	.select_tab{
		float: right;
		width: 100%;
		text-align: center;
		margin-right:7px;
	}
	.sel_tab{
		color:#aaaaaa;
		margin-left:-1px;
		width: 100px;
		padding-top:8px;
		float: right;
		border: 1px solid #cccccc;
		height: 29px;
		background-color: #efefef;
	}
	.selected{
		color:#555555;
		background-color: #dddddd;		
	}
}
.col_1{
	.col1{		
		width:100%;
		float:left;
	}
}

.col_2_left{
	.col1{		
		width:40%;
		padding:0 10px 0 0;
		float:left;
	}
	.col2{		
		width:60%;
		padding:0 0 0 10px;
		float:left;
	}	
	.col3{
		width:30%;
		float:left;
		padding:20px 0 0 10px;
	}
}
.col_2_right{
	.col1{		
		width:60%;
		padding:0 10px 0 0;
		float:left;
	}
	.col2{		
		width:40%;
		padding:0 0 0 10px;
		float:left;
	}	
	.col3{
		width:40%;
		float:right;
		padding:20px 0 0 10px;
	}
}
.box{
	background-color:white;
	width:100%;
	min-height:200px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	.header{
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
		height: 80px;
		width: 100%;
		border-bottom: 1px solid #cccccc;
		color:#a4aaba;
		h1{
			color:#39b5aa;
			font-weight: normal;
			margin-bottom:0;
			font-size: 20px;
		}
	}
	.row, .row_header{
		border-bottom: 1px solid #eeeff1;
		color:#999999;
		height:35px;
		line-height: 35px;
		padding-left:20px;
		font-size: 12px;
		.tab_col{
			float:left;
			height:35px;
			overflow:hidden;
			img{
				padding-top:5px;
			}
		}
		.w5{ width:5%;}
		.w10{ width:10%;}
		.w20{ width:20%;}
		.w30{ width:30%;}
		.w40{ width:40%;}
		.w50{ width:50%;}
		.w60{ width:60%;}
		.w70{ width:70%;}
		.w80{ width:80%;}
		.w90{ width:90%;}
		.w100{ width:100%;}
	}
	.row:hover{
		background-color:#eeeff1;
	}
	.row_header{
		background-color:#dddddd;
	}
}
.form{
		width: 100%;
		padding:20px;
		label{
			font-size: 12px;
			color:#999999;
		}
		input[type="text"], textarea, input[type="password"]{
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		textarea{
			height:150px;
		}
		input[type="submit"], .print{
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			background-color: #5cb85c;
			color:white;
			margin-top:10px;
		}

		.print {
			text-decoration: none;
			background-color: #5ca1b8;
		}

		select, input[type="file"]{
			width:100%;
			display: block;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
	}
.photo{
	float:left;
	padding:20px;
	width:100%;
	img{
		max-width:100%;
		max-height:80px;
	}
}	
.search_box{
	float: right;
	margin-top: 0px;
	margin-left:-240px;
	z-index:2;
	input[type="text"]{
		width:200px;float: right;
	}
}