<div class="col2">
	<div class="box ">
		<div class="header">
			<h1>Keywords</h1>
		</div>
		<div class="row_header">
			<div class="tab_col w10">&nbsp;</div>
			<div class="tab_col w40">Keyword</div>
			<div class="tab_col w40">Color</div>
			<div class="tab_col w10">&nbsp;</div>
		</div>
		<% @article.keywords.each do |keyword| %>
			<div class="row">
				<div class="tab_col w10">&nbsp;</div>
				<div class="tab_col w40"><%=keyword.word unless keyword.blank?%></div>
				<div class="tab_col w40"><%=keyword.color unless keyword.blank?%></div>
				<div class="tab_col w10">
					<%=link_to (image_tag "icons/delete.png"), "/keywords/#{keyword.id}?article_id=#{params[:id]}", :method => "DELETE", data: { confirm: 'Etes-vous sure de vouloir supprimer ce mot clé ?' }, :remote => true%>
				</div>
			</div>
			<div class="clear"></div>
		<% end %>
						
	</div>
</div>