
<div class="col3">
	<div class="box ">
	<div class="header">
			<h1>Add a keyword</h1>
		</div>
	<div class="form">
		<%= form_for Keyword.new, :url => "/keywords", :method => "POST", :remote => true do |f| %>
			
			<label>Keyword :</label><%=f.text_field "word"%>
			<label>Color :</label><%=f.text_field "color"%>
			<%= f.hidden_field "article_id", :value =>  params[:id]%>
			<%= f.submit "Add" %>
		<% end %>
	</div>
	</div>
</div>