*{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: helvetica;
}
*:focus {
    outline: 0;
}
body{
	margin:0;
	padding: 0;
	background-color: #f1f2f7;
}

.login{
	width: 400px;
	height:355px;
	margin: auto;
	margin-top:100px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	.header_login{
		text-align:center;
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		height:80px;
		font-weight: lighter;
		background-color:#41cac0;
		padding-top:25px;
		color:white;
		font-size:24px;
	}
	input[type="submit"]{
		background-color:#e56b60 !important;
		width:100%;
		height:60px;
		font-size: 24px !important;
	}
	a.forgot_password{
		color:#41cac0;
		font-size:12px;
		float: right;
	}
	input{
	margin-bottom:20px;
	}
	input[type="text"], input[type="password"]{
		height:40px !important;
	}
	.error{
		padding:10px;
		background-color: #e56b60;
		color:white;
		vertical-align: top;
		img{
			margin-right:10px;
		}
	}
}
