/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require bootstrap.min
 *= require "apple_pagination"
 */
.arrow_down, .arrow_up{
	width: 40px;
	height:40px;
	background: rgba(0, 0, 0, .5);
	position:fixed;
	padding:10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.arrow_down{	
	-moz-transform: rotate(180deg); 
  	-webkit-transform: rotate(180deg); 
}
.arrow_down:hover, .arrow_up:hover{
	background-color: rgba(88, 88, 88, 1);;
}
