/*
 *= require archistico
 *= require CallieHand
 *= require cambria
 */
*{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
*:focus {
    outline: 0;
}

a, a:link, a:visited {
	text-decoration: none;
	border: none;
}
body{
	background-color: #eee;
	margin:0;
	font-size: 12px;
	font-family: 'Cambria';
	min-width: 1050px;
	padding: 0;
    height: auto;
}
.clear{
	clear:both;
}
.arrow{
	transform:rotate(45deg); 
	-ms-transform:rotate(45deg); /* Internet Explorer */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari et Chrome */ 
	-o-transform:rotate(45deg); /* Opera */
	width:40px;
	height:40px;
	margin-top:-20px;
	margin-left:150px;
}
.arrow_blue{
	@extend .arrow;
	background-color: #007fc0;
}
.arrow_black{
	@extend .arrow;
	background-color: #3e3e3e;
}
.arrow_white{
	@extend .arrow;
	background-color: #ffffff;
}
.arrow_grey{
	@extend .arrow;
	background-color: #e0e0e0;
}
.arrow_pink{
	@extend .arrow;
	background-color: #d8bed0;
}

#navigation ul{
	width:100%;
	padding-top: 80px;
	li{
		display:inline-block;
		list-style-type:none;
		float:left;
		height:50px;
		margin:0px 20px;		
		font-size:20px;
	}
	li.selected{
		border-bottom: 2px solid white;
		height:30px;
		a{
			color: white;
		}
	}
	a{
		color: #b7b7b7;
	}
}

#header{
	background-color: #3e3e3e;
	width:100%;
	height:304px;
	color:#b7b7b7;
	padding:50px 200px;
	
	.et{
		font-family: trebuchet;
		font-size:18px;
		font-style: italic;
	}
	.name{
		font-family: 'Archistico-Normal';
		font-size:50px;
	}
	.poste{
		font-family: 'CallieHand';
		font-size:40px;
		color:#ffffff;
	}
	.portrait{
		position: absolute;
		top:4px;
		right:0;
		img{
			
		}
	}
}
.title{
	background: url('trait.png');
	background-repeat: no-repeat;
	background-position: -70px 15px;
	height:110px;
	padding-left:20px;
	margin:0px -110px;
	font-family: 'CallieHand';
	font-size:40px;
	color:white;
	width:300px;
}
.bg_blue{
	margin-top:-20px;
	background-color: #007fc0;
	width:100%;
	padding:50px 0 0 200px;
}
.bg_white{	
	margin-top:-20px;
	background-color: #ffffff;
	width:100%;
	padding:50px 0 0 200px;
	.title{
		color:#93d3f3;
		background: url('trait-blue.png');
		background-repeat: no-repeat;
		background-position: -70px 15px;
	}
}
.bg_grey{
	margin-top:-20px;
	background-color: #e0e0e0;
	width:100%;
	padding:50px 0 0 200px;
	.title{
		color:#333333;
		background: url('trait-black.png');
		background-repeat: no-repeat;
		background-position: -70px 15px;
	}
}
.bg_pink{
	margin-top:-20px;
	background-color: #d8bed0;
	width:100%;
	padding:50px 0 0 200px;
	.title{
		color:#a83f85;
		background: url('trait-pink.png');
		background-repeat: no-repeat;
		background-position: -70px 15px;
	}
}
.footer{
	margin-top:-20px;
	background-color: #3e3e3e;
	width:100%;
	padding:50px 0 0 200px;
	.links{
		height:150px;
		margin-top:-50px;
		margin-left:300px;
		.link{
			float:left;
			margin-right:20px;
		}
	}
}

.hr{
	border-top: 1px solid #aaa;
	width:90%;
	padding:20px 0 40px 0;
}


.share_twitter{
	float:left;
 	margin-top:15px;	
}
.share_gplus{
 	margin-top:13px !important;
 }