@media screen and (max-width: 1280px)
{
	body{
		min-width:420px !important;
	}
    .arrow_up, .arrow_down{
    	display:none;
    }
    #header{
    	height:584px;
		padding:0px 0px;
    	.name{
			font-size:50px;
			padding:220px 0 0 20px ;
		}
		.poste{
			font-size:40px;
			padding:20px 0 0 20px ;
		}
   		.portrait{
   			top:120px;
	    	img{
	    		margin-right:0;
	    		height:464px;
	    	}
	    }
    }
    #navigation ul{
    	position: fixed;
    	z-index:2;
    	top:0;
		margin: 0px;
		width:100%;
		background-color: #000000;
		padding-top:30px;
		padding-bottom:0px;
		li{
			font-size:60px;
			margin-left:80px;			
			a{
				margin-left:60px;
			}
		}
		li:first-child{
			margin-left:20px;
			
		}
		li.selected{
			height:80px;
			border-bottom: 0px solid white;

		}
		.home{
			background-image: url('icons/home_front.png');
			background-repeat: no-repeat;
			background-size: 50px;
			background-position: 0 20px;
			height:100px;
		}
		.cv{
			background-image: url('icons/cv.png');
			background-repeat: no-repeat;
			background-size: 45px;
			background-position: 0 20px;
			height:100px;
		}
		.portfolio{
			background-image: url('icons/portfolio.png');
			background-repeat: no-repeat;
			background-size: 40px;
			background-position: 0 20px;
			height:100px;
		}
	}
	.article{
		margin-left:-100px;
		img{
		}
		.desc{
			width:61% !important;
		}
		.texte{
			font-size: 30px;
		}
		.name{
			font-size:40px;
		}
	}
	.title, .bg_white .title{
		font-size:50px;
		background-position: -70px 30px;
	}
	.bg_blue .welcome{
		font-size: 40px;
	}
	.bg_white .title{
		font-size: 50px;
	}
	.texte{
		font-size: 40px;
	}
	.date{
		font-size: 20px;
	}
	.keywords{
		font-size: 20px;
	}
	.experience, .tech, .university{
		.company, .university{
			font-size: 40px !important;
			font-weight: bold;
		}
		.name{
			margin-left:-100px;
			width:450px !important;
			font-size: 40px !important;
		}
		.explaination, .desc{
			font-size: 30px !important;
		}
		.desc, .university{		
		margin-left:-100px;	
			width:100% !important;	
		}
	}
	.bg_pink.interests{
		.title{
			width:100%;
		}
		.interest1, .interest2, .interest3, .interest4{
			width:100% !important;
			height:200px !important;
			position: relative;
			margin-left:-100px !important;
			margin-top:0px !important;
			.img{
				float:left;
				width:200px;
			}
			.texte{
				font-size: 25px;
				padding-top:20px;
				.name{
					padding-bottom:20px;
					font-size: 40px;
					color:white;		
				}
			}
		}
		.interest2, .interest4{
			.img{
				float:right;
			}
			.texte{
				margin-left:0px !important;
				text-align: right;
			}
		}
	}
	.listing{
		font-size: 23px;
	}
	.projects{
		margin-left:-100px !important;
		.project{
			width:100% !important;
			.desc{
				width: 60%
			}
			img{
				float:left !important;
			}
		}
	}
	.textes{
		width:75% !important;
		margin-left:50px;
		.explaination, .company{
			width:100% !important;
		}
	}
}