<div class="col1">
	<div class="box gd">
		<div class="header">
			<% if @article.new_record? %>
				<h1>Add a <%=@titre_create%></h1>
				<% url = "/#{@link}" %>
				<% method = "post" %>
			<%else%>
				<h1>Modify a <%=@titre_create%></h1>
				<% url = "/#{@link}/#{@article.id}" %>
				<% method = "put" %>
			<%end%>
		</div>
		<div class="form">
			<%= form_for @article, url: url, :remote => true, :class => "form", :method => method do |f| %>
				<label>Title :</label><%=f.text_field "name", value: @article.name%>

				<label>Color :</label><%=f.text_field "color", value: @article.color%>

				<label>Level :</label><%=f.text_field "level", value: @article.level%>
				
				<label>Status :</label><%= f.select "status", options_for_select([["En cours"], ["Active"], ["Inactive"]], @article.status), :include_blank => true%> <br/>
				
				<% if @article.id.blank? %>
					<%=f.submit "Add" %>
				<%else%>
					<%=f.submit "Update" %>
				<%end%>
			<% end %>
		</div>
	</div>
</div>