<!DOCTYPE html>
<html>
<head>
  <title>legall</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'back/application', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'back/application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
 <META NAME="robots" CONTENT="None">
  <META NAME="Rating" CONTENT="Restricted">
</head>
<body>

<div id="header">  
  <div id="logo"><%=image_tag "logo.png"%></div>
  <div class="logout">
    <%=link_to (image_tag "icons/website.png"), "http://www.#{request.host.gsub('admin.', '')}", :target => "_blank"%>
    <%=link_to (image_tag "icons/disconnect.png"), "/logout"%>
  </div>
</div><% url = "?m=1" unless params[:m].blank? %>
<div id="nav" class="<%="minimize" unless params[:m].blank?%>">  
  <ul>
    <div class="hide_menu"><%= link_to (image_tag "icons/menu.png"), "#", :class => "menu"%></div><br/>
    <hr/>Home
    <%=link_to "/#{url}" do %><li class="home selected"><%=image_tag "icons/home-hover.png"%><span class="text">Home</span></li><% end %>
    <%=link_to "/articles#{url}" do %><li class="articles"><%=image_tag "icons/article.png"%><span class="text">Articles</span></li><% end %>
    <hr/>CV
    <%=link_to "/timeline#{url}" do %><li class="timeline"><%=image_tag "icons/timeline.png"%><span class="text">Timeline</span></li><% end %>
    <%=link_to "/technologies#{url}" do %><li class="technologies"><%=image_tag "icons/technologies.png"%><span class="text">Technologies</span></li><% end %>
    <%=link_to "/university#{url}" do %><li class="university"><%=image_tag "icons/university.png"%><span class="text">Universities</span></li><% end %>
    <%=link_to "/hobby#{url}" do %><li class="hobby"><%=image_tag "icons/interest.png"%><span class="text">Areas of interest</span></li><% end %>
    <hr/>Portfolio
    <%=link_to "/project#{url}" do %><li class="project"><%=image_tag "icons/project.png"%><span class="text">Projects</span></li><% end %>
    <%=link_to "/logo#{url}" do %><li class="logo"><%=image_tag "icons/logo.png"%><span class="text">Logos</span></li><% end %>
    <%=link_to "/poster#{url}" do %><li class="poster"><%=image_tag "icons/poster.png"%><span class="text">Posters</span></li><% end %>
    <hr/>Maison
    <%=link_to "/maison#{url}" do %><li class="logo"><%=image_tag "icons/home.png"%><span class="text">Video</span></li><% end %>
  </ul>
</div>
<div class="main <%="maximize" unless params[:m].blank?%>">
  <%= yield %>
</div>
	
</body>
</html>
