<!DOCTYPE html>
<html>
<head>
  <title><%=@custom.name%> - <%=strip_tags(@custom.poste)%></title>
  <%= stylesheet_link_tag 'application', 'front', 'mobile', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'front', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%=@custom.name%>, <%=strip_tags(@custom.poste)%>">
  <meta name="description" content="<%=@custom.name%> - <%=strip_tags(@custom.poste)%>">
  <meta charset="UTF-8">
  <META NAME="robots" CONTENT="all">
  <META NAME="Content-language" CONTENT="english">
  <META NAME="Author" CONTENT="Romain LE GALL">
  <META HTTP-EQUIV="Reply-to" CONTENT="romain@legall.info">
  <meta name="p:domain_verify" content="4152721fd34c02239b59525f22f71aab"/>
  <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'en-GB'}</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56381568-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
	<header>
		<div id="header">
			<div class="name"><h1><%=@custom.name%></h1></div>
			<div class="poste"><%=@custom.poste.html_safe%></div>
			<div id="navigation">
				<nav><ul>
					<li class="home selected"><%=link_to "Home", "/home"%></li>
					<li class="cv"><%=link_to "CV", "/cv"%></li>
					<li class="portfolio"><%=link_to "Portfolio", "/portfolio"%></li>
					<% if request.path == "/photos" %><li class="photos"><%=link_to "Photos", "/photos"%></li><% end %>
				</ul></nav>
			</div>
			<div class="portrait"><%=image_tag "/custom/#{@custom.photo}", :border => 0%></div>
		</div>
		<div class="arrow_black"></div>
	</header>
	<div class="arrow_up"><%=image_tag "icons/arrow.png"%></div>
	<div class="arrow_down"><%=image_tag "icons/arrow.png"%></div>
	<%= yield %>

	<footer>
		<div class="footer">
			<div class="title">Contact</div>
			<div class="links">
				<div class="link"><%= link_to (image_tag "social/contact.png", :border => 0), "mailto:#{@custom.email}" unless @custom.email.blank?%></div>
				<div class="link"><%= link_to (image_tag "social/twitter.png", :border => 0), "#{@custom.twitter}", :target => "_blank" unless @custom.twitter.blank?%></div>
				<div class="link"><%= link_to (image_tag "social/linkedin.png", :border => 0), "#{@custom.linkedin}", :target => "_blank" unless @custom.linkedin.blank?%></div>
				<div class="link"><%= link_to (image_tag "social/facebook.png", :border => 0), "#{@custom.facebook}", :target => "_blank" unless @custom.facebook.blank?%></div>
				<div class="link"><%= link_to (image_tag "social/viadeo.png", :border => 0), "#{@custom.viadeo}", :target => "_blank" unless @custom.viadeo.blank?%></div>
				<div class="link"><%= link_to (image_tag "social/flickr.png", :border => 0), "#{@custom.flickr}", :target => "_blank" unless @custom.flickr.blank?%></div>
			</div>
		</div>
	</footer>
</body>
</html>
